body {
    font-family: Georgia;
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

h1 {
    color: azure;
}

.header {
    background-color: cornflowerblue;
    text-align: center;
}

.about-me {
    font-size: 20px;
    opacity: 0.5;
}

p.title {
    font-weight: bold;
}